:root{
  
    --main-bg-color:white;    
}
*
{
    margin: none;
    padding: none;
    box-sizing: inherit;

}
html
{
    font-size: 62.5%;
}
body{
    position: relative;
    margin: 2rem ;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    color:white;
}
.todo
{
    position: absolute;
    width:60%;
    background-image: linear-gradient(to bottom right,#37474F,#795548);
    background-size: cover;
    background-repeat: no-repeat;
    left:50%;
    transform: translateX(-50%);
    padding:4rem 0rem;
    overflow-x: hidden;
    
    
    
    /* height:50rem; */

}
.todo__heading
{
   padding:2rem 2rem 1rem 2rem;
   font-weight: 700;
   letter-spacing: 1.2px;
}
.todo__bottom--small
{
    margin-bottom: .5rem;
    border-bottom: solid .2px #B0BEC5;
}

/* form */


.todo__description
{
    width:100%;
    padding:2rem 4rem;
    font-size: 1.4rem;
}
.todo__description label,input
{
    display: block;
    text-align: left;
}
.todo__description label
{
    /* margin: 2rem; */
    letter-spacing: 1.4px;
    font-weight: 900;
    font-size: 2rem;
}
.todo__description input{
    width:100%;
    background-color:transparent;
    padding:1rem 1rem 1rem 0rem;
    border:none;
    /* margin-bottom: 2rem; */
}

.todo__description input:focus
{
    outline:none;
    filter:brightness(90%);
    color:white;
}
.todo__attributes
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    /* padding:2rem; */
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    text-align: left;
    
}
.todo__category
{
    margin-left: 2rem;
    width:50%;
    border-right: 1px solid white;
}
.todo__category label{
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.todo__category label,select{
    display: block;
    text-align: left;
}
.todo__category select{
    background-color:transparent;
    color:white;
    border:none;
    width:70%;
    padding:1.2rem 2rem;
}
.todo__category select:hover{
    /* border:.5px solid #B0BEC5;
    border-radius:500px  !important; */
    filter:brightness(80%);
}
.todo__category select:focus,select option:focus{
    outline:none;
}
.dropdown__option{
    background-color:#455A64;
    margin-bottom: 2rem;
    border-bottom: 1px solid #B0BEC5;
}
.todo__date
{
    
    width:50%;
    padding-left: 3rem;

}
.todo__date label
{
    margin-left: 2rem;
    margin-top: 1.5rem;
}
.todo__date label,input{
    display: block;
    text-align: left;
}
.todo__date input{
    background-color:transparent;
    color:white;
    border:none;
    width:80%;
    padding:1rem 2rem;
    
    
}
.todo__date input:hover{
    /* border:.5px solid #B0BEC5;
    border-radius:500px  !important; */
    filter:brightness(80%);
}
.todo__date input:focus{
    outline:none;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

/* buttons */
.form 
{
    position: relative;
}
.todo__form--buttons
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;    
    margin: 3rem 0rem 1rem 0rem;
    width: 100%;
    /* height: 10rem; */
    /* border: 1px solid white; */
}
.btn,.delete
{
    color:white;
    padding:1rem 2rem;
    border:1px solid white;
    background-color: transparent;
    font-size: 2rem;
    letter-spacing: 1.2px;
    margin-bottom: 2rem;
}

.btn:focus{
    outline:none;
}
.btn-1:hover{
    background-color: #FCE4EC;
}
.btn-2:hover{
    background-color: #E1BEE7;
}
.delete{
    padding: 1.5rem 2rem;
}
.delete:hover{
    text-decoration: none;
    color: black;
}

/* todo list */
.todo__list
{
    position:relative;
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
}
.todo__task
{
    position: relative;
    width:95%;
    display:inline-block;
    text-align:left;
    padding:2rem 3rem;
    font-size:2rem;
    margin-bottom: 2rem;
    transition: all .2s ease-in-out;
}
.todo__task:hover{
    transform: scale(1.05);
    
}


/* utilities */
.mr-3
{
    margin-right: 5rem;
}
.mb-2
{
    margin-bottom: 2rem;
}
.mr-small
{
    margin-right: 2rem;
}

.ba 
{
    border-top: 1px solid white;
}
label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: .9rem;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
    color: #99a1a7; 
    
}

input[type=checkbox]:checked  .strike{
    content:"\2714";
    color:red;
    text-decoration: line-through;
  }


.big-checkbox + label {
	padding: 1.8rem;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family:  sans-serif;
	/* width: 200px; */
	position: absolute;
    top: 50%;
    left:10%;
    width: 90%;
    transform: translateY(-27%);;
	font-weight: bold;
	/* text-transform: uppercase; */
	display:inline-block;
	
}
.tag__description
{
    display:block;
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 1.2px;
    margin-bottom:1.5rem
}

.tag__date
{
    display:block;
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 1.2px;
    color:#E0E0E0;
}
.border--above
{
    border-top: 1px solid white;
}

/* label */
.label
{
    position: absolute;
    right:5%;
    top:4%;
    color:white;
    width:9rem;
    text-align: center;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    transition: all .2s ease-in-out;
}
.label:hover{
    transform: scale(1.1);
}
.work
{
    background-color: purple;
}
.personal
{
    background-color: #BF360C;
}
.school
{
    background-color: #00C853;
}
.others
{
    background-color: #C51162;
}
.effects{
    transition: all .2s ease-in-out;
}
.effects:hover{
    transform: scale(1.01);
}

/* media queries */
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) 
{
    .todo{
        width:100%;
    }
    html
    {
        font-size: 52%;
    }
}
@media only screen and (max-width: 400px) 
{
    .todo{
        width:100%;
    }
    html
    {
        font-size: 35%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up)*/

@media only screen and (min-width: 600px) 
{
    .todo{
        width:90%;
    }
    html
    {
        font-size: 62.5%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .todo{
        width:80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .todo{
        width:60%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */ 